body {
    font-family: 'Manrope', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.text-vertical {
    margin-top: auto;
    margin-bottom: auto;
}

footer{
    background-color: #D73F42;
    color: #fff;
}

footer a {
    color: #fff;
}

footer a:hover{
    color: #fff;

}

.btn-primary{
    color: #fff;
    background-color: #D73F42;
    border-radius: 50px;
    border-color: #D73F42;
}

.fa-angle-down{
    color: #D73F42;

}

#userName{
    color: #D73F42;
}

.btn-primary:hover{
    color: #fff;
    background-color: rgb(180, 32, 34);
    border-radius: 50px;
    border-color: rgb(180, 32, 34);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #D73F42;
    border-color: #D73F42;
}

footer hr {
    background-color: #fff;
    width: 40%;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.c-img-height{
    height: 300px;
}

.text-fade-lr{
    background: linear-gradient(to right, rgb(0, 0, 0) 20%, transparent 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h-red{
    color: #D73F42;
}

@media only screen and (max-width: 600px) {
    .m-text-center {
        text-align: center;
    }

    .navbar-brand {
        display: inline-block;
        text-align: center;
        font-size: 1rem;
        line-height: inherit;
        white-space: nowrap;
        margin-right: 0rem;
        margin-bottom: 0rem;
    }

    .blog-icon{
        height: 150px;
        width: 150px;
        text-align: center;
    }

    .c-img-height{
        height: 200px;
    }

}